@model RealEstateMarket.Models.Brokerage

@{
    ViewData["Title"] = "Brokerage Ads";
}

<h1>Show ads for brokerage @Model.Title</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.Id">Upload New</a>
    <br />
    <br />
    <a asp-controller="Brokerages" asp-action="Index">Back to List</a>
</p>
@if (Model.Advertisements.Count() == 0)
{
    <p>There are no files to display.</p>
} else {
    <table class="table">
    <thead>
        <tr>
            <th>
                    File Name
            </th>
            <th>
                    Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Advertisements) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                        <img src="@item.Url" style="max-width: 400px;" />
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.AdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}